@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant slate (&:where([data-theme=slate], [data-theme=slate] *));
@custom-variant green-mist-light (&:where([data-theme=green-mist-light], [data-theme=green-mist-light] *));
@custom-variant red-velvet-light (&:where([data-theme=red-velvet-light], [data-theme=red-velvet-light] *));
@custom-variant blue-dream-light (&:where([data-theme=blue-dream-light], [data-theme=blue-dream-light] *));

:root {
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --strong-accent: hsl(180, 55%, 31%);
  --light-accent: hsl(172, 25%, 55%);
  --ultralight-accent: hsl(172, 25%, 95%);
  --primary: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.97 0.001 106.424);
  --success: hsl(120, 40%, 60%);
  --alert: hsl(20, 70%, 60%);

  --text-2xs: 0.70rem;
  --text-2_5xl: 1.75rem;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

[data-theme="green-mist-light"] {
  --background: hsl(1, 0%, 100%);
  --foreground: hsl(194, 33%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --strong-accent: hsl(180, 55%, 31%);
  --light-accent: hsl(172, 25%, 55%);
  --ultralight-accent: hsl(172, 25%, 95%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --alert: hsl(20, 70%, 60%);
}

[data-theme="green-mist-dark"] {
  @apply text-slate-100;
  --background: #0a0a0a;
  --foreground: #ededed;
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --strong-accent: hsl(180, 55%, 31%);
  --light-accent: hsl(172, 25%, 55%);
  --ultralight-accent: hsl(172, 25%, 95%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --alert: hsl(20, 70%, 60%);
}

[data-theme="slate"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

[data-theme="red-velvet-light"] {
  --background: #ffffff;
  --foreground: #330000;
  --dark-accent: #660000;
  --accent: #ee0000;
  --light-accent: #ff6666;
  --strong-accent: hsl(10, 85%, 41%);
  --ultralight-accent: #fff0f0;
  --primary: #ff9999;
  --secondary: #ffcccc;
  --success: hsl(120, 40%, 60%);
  --alert: #ff6600;
}

[data-theme="red-velvet-dark"] {
  --background: #292929;
  --foreground: #ffffff;
  --dark-accent: #660000;
  --accent: #ee0000;
  --light-accent: #ff6666;
  --strong-accent: hsl(10, 85%, 41%);
  --ultralight-accent: #fff0f0;
  --primary: #ff9999;
  --secondary: #ffcccc;
  --success: hsl(120, 40%, 60%);
  --alert: #ff6600;
}

[data-theme="blue-dream-light"] {
  --foreground: #ffffff;
  --foreground: #001a33;
  --dark-accent: #003366;
  --accent: #0066cc;
  --light-accent: #66b2ff;
  --strong-accent: hsl(200, 85%, 41%);
  --ultralight-accent: #f0f8ff;
  --primary: #99ccff;
  --secondary: #cce6ff;
  --success: hsl(120, 40%, 60%);
  --alert: #ff6200;
}

[data-theme="blue-dream-dark"] {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --dark-accent: #002d67;
  --accent: #0066b3;
  --light-accent: #66b2ff;
  --strong-accent: hsl(200, 85%, 41%);
  --ultralight-accent: #f0f8ff;
  --primary: #99ccff;
  --secondary: #cce6ff;
  --success: hsl(120, 40%, 60%);
  --alert: #ff6200;
}

[data-theme="dark"] {
  @apply text-slate-100;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-weight: 250;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
