@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant slate (&:where([data-theme=slate], [data-theme=slate] *));

:root {
  --background: hsl(1, 0%, 100%);
  --foreground: hsl(194, 33%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --light-accent: hsl(172, 25%, 55%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --alert: hsl(20, 70%, 60%);

  --text-2xs: 0.70rem;
  --text-2_5xl: 1.75rem;
}

[data-theme="light"] {
  --background: hsl(1, 0%, 100%);
  --foreground: hsl(194, 33%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --accent: hsl(195, 37%, 40%);
  --light-accent: hsl(172, 25%, 55%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --alert: hsl(20, 70%, 60%);
}

[data-theme="slate"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

[data-theme="dark"] {
  @apply text-slate-100;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-weight: 250;
}
