@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant slate (&:where([data-theme=slate], [data-theme=slate] *));
@custom-variant sparkasse (&:where([data-theme=sparkasse], [data-theme=sparkasse] *));
@custom-variant volksbank (&:where([data-theme=volksbank], [data-theme=volksbank] *));

:root {
  --background: hsl(1, 0%, 100%);
  --foreground: hsl(194, 33%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --strong-accent: hsl(180, 55%, 31%);
  --light-accent: hsl(172, 25%, 55%);
  --ultralight-accent: hsl(172, 25%, 95%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --alert: hsl(20, 70%, 60%);

  --text-2xs: 0.70rem;
  --text-2_5xl: 1.75rem;
}

[data-theme="light"] {
  --background: hsl(1, 0%, 100%);
  --foreground: hsl(194, 33%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --accent: hsl(195, 37%, 40%);
  --light-accent: hsl(172, 25%, 55%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --alert: hsl(20, 70%, 60%);
}

[data-theme="slate"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

[data-theme="sparkasse"] {
  --background: #fff0f0;
  --foreground: #330000;
  --dark-accent: #660000;
  --accent: #cc0000;
  --light-accent: #ff6666;
  --ultralight-accent: #fff0f0;
  --primary: #ff9999;
  --secondary: #ffcccc;
  --success: hsl(120, 40%, 60%);
  --alert: #ff6600;
}

[data-theme="volksbank"] {
  --background: #f0f8ff;
  --foreground: #001a33;
  --dark-accent: #003366;
  --accent: #0066cc;
  --light-accent: #66b2ff;
  --ultralight-accent: #f0f8ff;
  --primary: #99ccff;
  --secondary: #cce6ff;
  --success: hsl(120, 40%, 60%);
  --alert: #ff6600;
}

[data-theme="dark"] {
  @apply text-slate-100;
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-weight: 250;
}
