name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ${{ github.repository }}
  REGISTRY: ghcr.io
  DEPLOYMENT_DIR: /opt/deployments/immoly

jobs:
  check-for-changes:
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check for relevant changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - 'src/**'
              - 'src/'

  check-for-new-migrations:
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check for relevant changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - 'drizzle/migrations/**'
              - 'drizzle/migrations'

  build-and-push:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-push.yml
    needs: check-for-changes
    if: needs.check-for-changes.outputs.src == 'true' || github.event_name == 'workflow_dispatch'
    with:
      image_name: ghcr.io/${{ github.repository }}
      dockerfile: dockerfile
      build_args: |
        SKIP_BUILD_STATIC_GENERATION=true

  deploy-app:
    runs-on: ubuntu-latest
    needs: build-and-push
    permissions:
      contents: read
    env:
      VERSION: ${{ needs.build-and-push.outputs.version }}

    steps:
      - name: Generate token
        id: app_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout app-of-apps repo
        uses: actions/checkout@v4
        with:
          repository: davidcode2/app-of-apps
          token: ${{ steps.app_token.outputs.token }}

      - name: Update deployment image tag
        working-directory: immoly
        run: |
          VERSION=$VERSION
          DEPLOY_FILE="immoly-app-deployment.yaml"
          sed -i "s|image: ghcr.io/davidcode2/immoly:.*|image: ghcr.io/davidcode2/immoly:${VERSION}|g" $DEPLOY_FILE

      - name: Commit deployment changes
        working-directory: immoly
        env:
          GIT_TOKEN: ${{ steps.app_token.outputs.token }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git config --global credential.helper store
          echo "https://x-access-token:${GIT_TOKEN}@github.com" > ~/.git-credentials
          git add .
          git commit -m "Deploy immoly version ${VERSION}"
          git push

  build-and-push-migrations-image:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build-and-push.yml
    needs: check-for-new-migrations
    if: needs.check-for-new-migrations.outputs.src == 'true' || github.event_name == 'workflow_dispatch'
    with:
      image_name: ghcr.io/${{ github.repository }}-migrations
      dockerfile: dockerfile.migrations
